.volume-chiclet {
  margin: 0 0.5em;
  padding: 1em;
  border-radius: 10px;
}
.level-1.active { background-color: #33FF33; }
.level-2.active { background-color: #FFFF33; }
.level-3.active { background-color: #FFAD33; }
.level-4.active { background-color: #FF5C33; }
.level-5.active { background-color: #FF3333; }
