<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinStreamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinStreamer.Properties.Settings>
            <setting name="RemoteHost" serializeAs="String">
                <value>192.168.1.42</value>
            </setting>
            <setting name="RelayPort" serializeAs="String">
                <value>3100</value>
            </setting>
            <setting name="ControlPort" serializeAs="String">
                <value>8080</value>
            </setting>
        </WinStreamer.Properties.Settings>
    </userSettings>
</configuration>