<!DOCTYPE html>
<html>
  <head>
    <title>Input Switcher</title>
    <link rel="stylesheet" href="{{ static_root }}/bootstrap.min.css" />
    <link rel="shortcut icon" href="{{ static_root }}/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ static_root }}/jquery.min.js"></script>
    <script src="{{ static_root }}/bootstrap.min.js"></script>
    <script src="{{ static_root }}/underscore-min.js"></script>
    <script type="text/javascript">
    /*
function setup_hdmi_source(hdmi_source) {
  var $el = $('#select-hdmi-' + hdmi_source);
  $el.click(function() {
    $.post('switch_hdmi', 'source=' + hdmi_source, function() {
      $('.select-hdmi').removeClass('ui-btn-active');
      $el.addClass('ui-btn-active');
    });
  });
}
function setup_audio_source(audio_source) {
  var $el = $('#select-audio-' + audio_source);
  $el.click(function() {
    $.post('switch_audio', 'source=' + audio_source, function() {
      $('.select-audio').removeClass('ui-btn-active');
      $el.addClass('ui-btn-active');
    });
  });
}
$(document).ready(function() {
  for (var hdmi_source = 1; hdmi_source <= 4; hdmi_source++) {
    setup_hdmi_source(hdmi_source);
  }
  for (var audio_source = 1; audio_source <= 4; audio_source++) {
    setup_audio_source(audio_source);
  }
});
*/
    </script>
  </head>
  <body>
    <div class="container">
      <h3></h3>
      {% for source_group in input_sources.inputSources %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ source_group.title }}</h3>
          </div>
          <div class="panel-body">
            <div class="list-group">
              {% for source in source_group['items'] %}
                <a href="#" class="list-group-item sourceLink {{ source_group.key }}{% if current_inputs[source_group.key] == source.index %} active{% endif %}" data-key="{{ source_group.key }}" data-index="{{ source.index }}">
                  <span class="glyphicon {{ source_group['icon'] }}"></span>
                  {{ source_group.shortName }} {{ source.index }} ({{ source.description }})
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <script type="text/javascript">
      _.each($('.sourceLink').toArray(), function(sourceLink) {
        var $sourceLink = $(sourceLink);
        var index = $sourceLink.data('index').toString();
        var key = $sourceLink.data('key');
        $sourceLink.click(function() {
          $.post('switch_input', {source: index, type: key}, function() {
            $('.sourceLink.' + key).removeClass('active');
            $sourceLink.addClass('active');
          });
          return false;
        });
      });
    </script>
      <!--
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Audio Sources</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="glyphicon glyphicon-headphones"></span>
              Audio 1 (HDMI Out)
            </a>
          </div>
        </div>
      </div>
      -->
  <!--
    <div data-role="page">
      <div data-role="header">
        <h1>Input Switcher</h1>
      </div>
      <div role="main" class="ui-content">
        <div data-role="tabs" id="tabs">
          <div data-role="navbar">
            <ul>
              <li><a href="#one" data-ajax="false" class="ui-btn-active">Audio Inputs</a></li>
              <li><a href="#two" data-ajax="false">HDMI Inputs</a></li>
            </ul>
          </div>
          <div id="one" class="ui-body-d ui-content">
            <ul data-role="listview">
              <li><a href="#" class="ui-btn select-audio" id="select-audio-1">Audio 1 (HDMI Out)</a></li>
              <li><a href="#" class="ui-btn select-audio" id="select-audio-2">Audio 2 (DJ Mixer)</a></li>
              <li><a href="#" class="ui-btn select-audio" id="select-audio-3">Audio 3 (USB Interface)</a></li>
              <li><a href="#" class="ui-btn select-audio" id="select-audio-4">Audio 4 (1/4" Aux)</a></li>
            </ul>
          </div>
          <div id="two" class="ui-body-d ui-content">
            <ul data-role="listview">
              {# circled unicode chars: http://www.unicode.org/charts/nameslist/n_2460.html #}
              <li><a href="#" class="ui-btn select-hdmi" id="select-hdmi-1">HDMI 1 (XBox)</a></li>
              <li><a href="#" class="ui-btn select-hdmi" id="select-hdmi-2">HDMI 2 (Aux)</a></li>
              <li><a href="#" class="ui-btn select-hdmi" id="select-hdmi-3">HDMI 3 (RasPi)</a></li>
              <li><a href="#" class="ui-btn select-hdmi" id="select-hdmi-4">HDMI 4 (Chromecast)</a></li>
            </ul>
          </div>
          {#
            <ul data-role="listview">
              {% for inputsource in inputsources %}
                <li><a href="#" class="ui-btn">{{ inputsource }}</a></li>
              {% endfor %}
            </ul>
          #}
        </div>
      </div>
      -->
      <!--
      <div data-role="footer"><h4>Footer content</h4></div>
      -->
    <!--</div>-->
  </body>
</html>
